<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tr="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="UTF-8">
    <title>listado</title>
</head>
<body>
    <h1>Listado de personas</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>DNI</th>
            <th>Edad</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${personas}">
                <td th:text="${p != null ? p.nombre : 'Sin nombre'}"></td>
                <td th:text="${p !=null ? p.apellido : 'Sin apellido'}"></td>
                <td th:text="${p !=null ? p.fechaNacimiento : 'Sin fecha'}"></td>
                <td th:text="${p !=null ? p.DNI :'Sin papeles'}"></td>
                <td th:text="${p !=null ? p.getEdad() : 'Sin edad' }"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="/">Volver al inicio</a>
</body>
</html>